@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

body {
    background: #f5f4f0;
    font-family: 'Inter', sans-serif;
    color: #404040;
}

#content {
    width: 65%;
    max-width: 65%;
    border-radius: 10px;
}

.text {
    margin: 4px;
    font-size: 1.3em;
    line-height: 1.4;
}

.emphasised {
    font-weight: 600;
}

.heading {
    font-size: 2em;
    text-align: center;
    margin: 15px;
}

#banner {
    font-weight: 800;
    font-size: 2em;
    text-align: center;
}

#banner img {
    height: auto;
}

.flex-column {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex-row {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    flex-grow: 100;
}

nav {
    width: 100%;
}

.nav-item {
    height: 12%;
    font-size: 2em;
    margin: 20px;
    transition-duration: 0.2s;
    text-align: center;
    border-bottom: #404040 2px dashed;
    border-radius: 6px;
    padding-bottom: 4px;
}

.nav-item:hover {
    transform: translate(0, 4px);
    color: #777777;
    border-bottom: #404040 2px solid;
}

a {
    text-decoration: none;
    color: inherit;
}

.text a {
    color: #027fe6;
    border-bottom: 2px dashed;
    transition-duration: 0.2s;
}

li {
    line-height: 1.6;
}

.text a:hover {
    color: #027fe6;
    transition-duration: 0.2s;
    border-bottom: 2px solid;
}


@keyframes shake {
    0% { transform: translate(2px, 2px) rotate(0deg); }
    10% { transform: translate(-2px, -4px) rotate(-3deg); }
    20% { transform: translate(-6px, 0px) rotate(3deg); }
    30% { transform: translate(6px, 4px) rotate(0deg); }
    40% { transform: translate(2px, -2px) rotate(3deg); }
    50% { transform: translate(-2px, 4px) rotate(-3deg); }
    60% { transform: translate(-6px, 2px) rotate(0deg); }
    70% { transform: translate(6px, 2px) rotate(-3deg); }
    80% { transform: translate(-2px, -2px) rotate(3deg); }
    90% { transform: translate(2px, 4px) rotate(0deg); }
    100% { transform: translate(2px, -4px) rotate(-3deg); }
}

#soc-beard:active {
    animation: shake 1s;
    animation-iteration-count: 1;
}

#soc-beard {
    width: 26%;
    margin: 0;
    padding: 0;
}

#soc-face {
    width: 25%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    z-index: -1;
}

#home-link {
    width: 25%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    flex: 33.3%;
    max-width: calc(33.3% - 10px);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.gallery-img img {
    width: 100%;
    min-width: 100%;
    height: auto;
    vertical-align: middle;
    padding: 5px;
}
.text-centered {
    text-align: center;
}


@media (prefers-color-scheme: dark) {
    body {
        background: #303030;
        font-family: 'Inter', sans-serif;
        color: #ecebe4;
    }

    .nav-item {
        border-bottom: #ecebe4 2px dashed;
    }
    .nav-item:hover {
        border-bottom: #ffffff 2px solid;
        color: #ffffff;
    }
}

@media only screen and (max-width: 750px) {
    #content {
        width: 95%;
    }
    .nav-item {
        font-size: 1em;
        margin: 10px;
    }
    #banner img {
        width: 30%;
        height: auto;
    }
    #soc-beard {
        width: 30%;
        transform: translate(0,3px);
    }
    .gallery-img {
        flex: 100%;
        max-width: 100%;
    }

    .heading {
        font-size: 1.5em;
    }
}